@import "../omarchy/current/theme/waybar.css";

@define-color primary #89b4fa;
@define-color success #94e2d5;
@define-color warning #fab387;
@define-color critical #f38ba8;

/* Native */
@import "modules/workspaces/style.css";
@import "modules/clock/style.css";
@import "modules/tray/style.css";
@import "modules/expand-icon/style.css";
@import "modules/tray-expander/style.css";

@import "modules/bluetooth/style.css";
@import "modules/network/style.css";
@import "modules/pulseaudio/style.css";
@import "modules/cpu/style.css";
@import "modules/battery/style.css";
@import "modules/systemd-failed-units/style.css";
@import "modules/keyboard/style.css";
@import "modules/backlight/style.css";
@import "modules/disk/style.css";
@import "modules/memory/style.css";
@import "modules/load/style.css";


/* Custom modules styles */
@import "modules/monitors/style.css";
@import "modules/menu/style.css";
@import "modules/update/style.css";
@import "modules/screenrecord/style.css";
@import "modules/mpris-spotify/style.css";
@import "modules/mpris-chromium/style.css";
@import "modules/privacy/style.css";
@import "modules/temperature/style.css";
@import "modules/coredumps/style.css";
@import "modules/hyprsunset/style.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#waybar .module {
  min-width: 12px;
  margin: 0 7.5px;
}

tooltip {

}

/* 
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
} */
